.weather-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.weather-search{
  margin-bottom: 10px;
}

.weather-input {
  border-radius: 50px;
  background-color: white;
  width: 300px;
  height: 50px;
  border: transparent;
  border-color: white;
  text-align: center;
}
.weather-input:focus {
  border: 0px solid transparent;
  outline: none;
}

.weather-input::placeholder {
  text-align: center;
}

.weather-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.extra-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imazhi {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
}

.weatherExtraInfo {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.extraInfo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.extraInfo-img {
  width: 50px;
  height: 50px;
}
.data {
  font-weight: bold;
}
.temperature {
  font-size: 80px;
  font-weight: normal;
  margin-bottom: 20px;
}
.weatherCondition {
  margin-bottom: 30px;
}
.city {
  margin-bottom: 30px;
  font-weight: bold;
}

.weatherImage {
  width: 350px;
  height: auto;
}

@media (max-width: 768px) {
  .weather-info, .weatherExtraInfo {
    display: flex;
    flex-direction: column;
  }
}
